
$halfHeight: 0.72em;
$borderRadius: 0.15em;
$phone: 700px; 
$pink: #e78999;
$green:#7cd7b6;
$background: rgb(2,0,36);
$gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(124,215,182,1) 70%, rgba(231,137,153,1) 100%);
