body {
    max-height: 20vh;
}
#card-id {
  height: 84vh;
}
.ui.card {
  margin: 0 auto;
  // height: 20% !important;
}
.ui.card, .ui.cards>.card {
  max-width: 100%;
  height: 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  min-height: 0;
  background: navajowhite;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .1s ease,transform .1s ease;
}

.ui.card .content {
  margin: -9% 1%;
  /* display: contents; */
  padding: 118px 2px 2px 2px;
  font-size: 17px!important;
  font-family: 'Lato', sans-serif!important;
  height: 100%;
}
.ui.card .content {
  margin-left: 150px;
}

.ui.card>.content, .ui.cards>.card>.content {
  text-align: center;
  position: sticky;
  margin-left: 138px;
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34,36,38,.1);
  background: 0 0;
  margin: 0;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 25px;
  background-color: rgb(252, 221, 175);
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
  // border-radius: 0 0 .28571429rem .28571429rem;
  border-radius: 25px !important;
  border: 2px solid rgb(235, 191, 126);
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 20px;
}

.content {
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  /* overflow: hidden; */
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #111516;
}



.ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img {
    border: none;
    height: 400px;
    padding-bottom: 70px;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {

    // position: absolute;  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;    
 
    margin: auto;
}

h4 {
    text-align: right;
}

//Buttons and Icons
#btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 48%;
  @media (max-width: 700px)  { 
    margin: 5px auto;
    margin-bottom: 152px;
  }
  .ui.buttons  {
      margin: 9% 5%;
      .or {
          // padding: 20%;
          &:hover {
              // pink #e03997
              color: rgb(255, 255, 255);
          }
      }
    } 
  }

.icon {
      font-size: 2.5rem;    
      width: 6rem;      
      text-shadow: 0 1px #ddd;
      cursor: pointer;
      padding: .5em;
      margin: .5em 0 .5em 0;
      position:relative;
      text-align: center;

      &:hover {
        color: #c00;
        // .Pulse(500ms);
      }
    }

 //Score

 .score-container {
    width: 100%;
    // height: 50px;
    background-color: #ddd;

    .score {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
      }

      .percent {
        // width: 5%; 
        background-color: #4CAF50;
      }
  }

  .ui.card > :last-child, .ui.cards > .card > :last-child {
    margin-left: 150px;
  }