@import "src/styling/utils/variables";

body {
    max-height: 20vh;
    background: rgba(116, 143, 233, 0.151);
}
#card-id {
  margin: 20px auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  // background: linear-gradient(90deg, rgba(79,205,255,0.7483368347338936) 31%, rgba(104,17,130,0.8015581232492998) 74%);
  @media (max-width: 768px)  { 
    height: 84vh;
    margin: 5% auto;
  }
  @media (max-width: 700px) {
    height: 100%;
  }
  // @media (max-width: 450px) {
  //   margin: 5px auto;
  //   height: 53vh;
  // }
  // @media (max-width: 414px) {
  //   margin: 5px auto;
  //   height: 59vh;
  // }
  // @media (max-width: 375px) {
  //   margin: 5px auto;
  //   height: 55vh;
  // }
  // @media (max-width: 320px) {
  //   margin: 5px auto;
  //   height: 79vh;
  // }
}
.ui.card {
  margin: 0 auto;
  // background: linear-gradient(90deg, rgba(79,205,255,0.7483368347338936) 31%, rgba(104,17,130,0.8015581232492998) 74%);
}
.ui.card, .ui.cards>.card {
  max-width: 100%;
  height: 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  min-height: 0;
  // background-color: rgba(85, 255, 51, 0.158);
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .1s ease,transform .1s ease;
}

.ui.card .content {
  margin: -9% 1%;
  /* display: contents; */
  padding: 118px 2px 2px 2px;
  font-size: 17px!important;
  font-family: 'Lato', sans-serif!important;
  height: 100%;
}
.ui.card .content {
  margin-left: 150px;
}

.ui.card>.content, .ui.cards>.card>.content {
  text-align: center;
  position: sticky;
  margin-left: 138px;
  flex-grow: 1;
  border: none;
  // border-top: 1px solid rgba(34,36,38,.1);
  background: 0 0;
  margin: 0;
  padding: 1em 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 25px;
  background-color: rgba(191, 255, 191, 0.774);
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
  // border-radius: 0 0 .28571429rem .28571429rem;
  border-radius: 25px !important;
  border: 2px solid rgba(250, 250, 250, 0.158);
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 20px;
}

.content {
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  /* overflow: hidden; */
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #111516;
  @media (max-width: 450px) {
    height: 123px;
    margin: -81px;
  }
}



.ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img {
    border: none;
    height: 400px;
    padding-bottom: 70px;
    @media (max-width: 450px) {
      height: 350px;
      // margin: -81px;
    }
    @media (max-width: 375px) {
      height: 270px;
      // margin: -81px;
    }
}
.ui.card>.image, .ui.cards>.card>.image {
  position: relative;
  display: block;
  flex: 0 0 auto;
  padding: 0;
  /* background: rgba(0,0,0,.05); */
}
.ui.card>.image>img, .ui.cards>.card>.image>img {

    // position: absolute;  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;    
 
    margin: auto;
}

h4 {
    text-align: right;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 700;
  font-size: .999999em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}
//Buttons and Icons
#btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 7px;
  padding-right: 0px;
  @media (max-width: 700px)  { 
    // margin: 5px auto;
    // margin-bottom: 152px;
  }
  @media (max-width: 375px)  { 
    padding-top: 0px;
  }
  #btn-left {
    background-color: $purple;
    // border: 2px solid black;
    border-radius: 9px;
  }
  #btn-right {
    background-color: $blue;
    // border: 2px solid black;
    border-radius: 9px;
  }
  .ui.buttons  {
      margin: 9% 5%;
      .or {
          // padding: 20%;
          // background: linear-gradient(90deg, rgba(79,205,255,0.7483368347338936) 31%, rgba(104,17,130,0.8015581232492998) 74%);
          &:hover {
              // pink #e03997
              color: rgb(255, 255, 255);
          }
      }
    } 
  }
  
.icon {
      font-size: 2.5rem;    
      width: 6rem;      
      text-shadow: 0 1px #ddd;
      cursor: pointer;
      padding: .5em;
      margin: .5em 0 .5em 0;
      position:relative;
      text-align: center;

      &:hover {
        color: #c00;
        // .Pulse(500ms);
      }
    }

 //Score

 .score-container {
    width: 100%;
    // height: 50px;
    background-color: #ddd;
    @media (max-width: 450px) {
      // display: none;
    }
    .score {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
      }

      .percent {
        // width: 5%; 
        // background-color: $blue;
        background: radial-gradient(circle, rgba(79,205,255,1) 31%, rgba(104, 17, 130, 0.616) 96%);
        @media (max-width: 450px) {
          // height: 50px;
        }
      }
  }

  .ui.card > :last-child, .ui.cards > .card > :last-child {
    margin-left: 150px;
    height: 123px;
    // margin: -108px;
    margin: -34px;
    // background-color: #4fcdff7e;
    border: 2px solid black;
    background: rgb(79,205,255);
    background: radial-gradient(circle, rgba(79,205,255,1) 31%, rgba(104, 17, 130, 0.616) 96%);
    @media (max-width: 768px) {
      height: 123px;
      /* margin: -5px; */
      /* margin-left: -23px; */
      padding: 30px 4px 4px 19px;
      margin: -12px -28px 1px 2px;
      margin: -108px;
    }
    @media (max-width: 700px)  { 
      height: 123px;
      margin: -98px;
    }
    @media (max-width: 450px) {
      height: 116px;
      margin: -30px;
    }
    @media (max-width: 375px) {
      height: 123px;
      margin: -23px;
    }
  }