// Utilities
@import "utils/variables";

.login-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    #login-card {
        // display: flex;
        // justify-content: center;
        // padding: 5%;
        // padding-top: 5%;
        // padding-bottom: 5%;
        // width: 40%;
        display: flex;
        justify-content: center;
        padding: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 50%;
        @media (max-width: $phone) {
            width: 100%;
        }
        #login-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            // flex-flow: column wrap;
            @media (max-width: $phone) {
                display: flex;
                align-items: center;
                justify-content: center;
                /* flex-flow: column wrap; */
                flex-direction: column;
                margin: 11% auto;
            }
            .login-title {
                color: #D83E58;
            }
            .login-label {
                margin-top: 5%;
            }
            #login-button {
                @media (max-width: $phone) {
                    font-size: 192%;
                    padding: 12px 48px 36px 48px;
                }
            }
        };
    };
};