// Utilities
@import "utils/variables";

.login-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    .login-card {
        display: flex;
        justify-content: center;
        padding: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 40%;
        @media (max-width: $phone) {
            width: 100%;
        }
        .login-form {
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
            .login-title {
                color: #D83E58;
            }
            .login-label {
                margin-top: 5%;
            }
            .login-button {
                @media (max-width: $phone) {
                    padding: 10%;
                    font-size: 200%;
                }
            }
        };
    };
};