// Utilities
@import "utils/variables";

.login-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 9em;
    #login-card {
        h1 {
            text-align: center;
            @media (max-width: $phone) {
                padding-top: 20px;
            }
        }
        @media (max-width: $phone) {
            display: flex;
            justify-content: center;
            padding: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            width: auto;
        }
        @media (max-width: 500px) {
            display: flex;
            justify-content: center;
            padding: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            // width: auto;
        }
        #login-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: auto;
            /* margin: 10px auto; */
            /* background-color: black; */
            color: white;
            padding-top: 17%;
            position: relative;
            /* margin: 20em auto; */
            /* width: 23em; */
            margin-top: auto;
            input {
                background-color: white;
                padding: 1px;
                margin: 0 auto;
                width: 86%;
                &:hover {
                    background-color: rgba(228, 227, 227, 0.808);
                }
            }
            @media (max-width: $phone) {
                display: flex;
                align-items: center;
                justify-content: center;
                /* flex-flow: column wrap; */
                flex-direction: column;
                margin: 11% auto;
            }
            @media (max-width: 500px) {
                display: flex;
                align-items: center;
                justify-content: center;
                /* flex-flow: column wrap; */
                flex-direction: column;
                margin: 11% auto;
            }
            @media (max-width: 425px) {
                margin: -3em -10em;
            }
            .login-title {
                color: #D83E58;
            }
            .login-label {
                margin-top: 5%;
            }
            #login-button {
                background-color: whitesmoke;
                padding: 15px 34px 15px 34px;
                width: 43%;
                margin: 0 auto;
                &:hover {
                    background-color: rgba(209, 209, 209, 0.664);
                }
                @media (max-width: $phone) {
                    font-size: 192%;
                    padding: 12px 48px 36px 48px;
                }
                                @media (max-width: 500px) {
                    font-size: 200%;
                    padding: 12px 63px 36px 62px;
                    margin-bottom: .999em;
                }
                @media (max-width: 425px) {
                    font-size: 200%;
                    width: 63%;
                    margin-bottom: .999em;
                    padding: 15px 15px 15px 15px;

                }
            }
        };
    };
};