@import "utils/variables";

.nav-div {
    .nav-logo {
        width: 5%;
    };
    @media (max-width: $phone) {
        display: none;
    }  
     
}


.nav-div-2 {
    .nav-logo {
        width: 100%;
        height: 100px;
    }
    @media (max-width: $desktop) {
        display:  flex;
        margin: 0 auto;
    } 
    @media (min-width: $phone) {
        display: none;
    }
}