@import "utils/variables";

.signup-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 9em;
    #signup-card {
        background-color: rgba(0, 128, 0, 0.315);
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        h1 {
            font-family: 'Lato', 'sans-serif';
            // text-decoration: underline;
            letter-spacing: 5px;
            text-align: center;
            text-shadow: 9px 5px 8px #000000;
            @media (max-width: $phone) {
                padding-top: 20px;
            }
        }
        @media (max-width: $phone) {
            display: flex;
            justify-content: center;
            padding: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            width: auto;
        }
        @media (max-width: 500px) {
            display: flex;
            justify-content: center;
            padding: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            // width: auto;
        }
        #signup-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            /* margin: 10px auto; */
            /* background-color: black; */
            opacity: 2;
            color: white;
            padding-top: 17%;
            position: relative;
            /* margin: 20em auto; */
            /* width: 23em; */
            margin-top: auto;
            input {
                background-color: white;
                padding-left: 8px;
                margin: 0 auto;
                width: 86%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 8px;
                &:hover {
                    background-color: rgba(228, 227, 227, 0.808);
                }
            }
            @media (max-width: $phone) {
                display: flex;
                align-items: center;
                justify-content: center;
                /* flex-flow: column wrap; */
                flex-direction: column;
                margin: 11% auto;
            }
            @media (max-width: 500px) {
                display: flex;
                align-items: center;
                justify-content: center;
                /* flex-flow: column wrap; */
                flex-direction: column;
                margin: 11% auto;
            }
            @media (max-width: 425px) {
                margin: -3em -10em;
            }
            .signup-title {
                color: #2CBF89;
            }
            .signup-label {
                margin-top: 5%;
            }
            #signup-button {
                background-color: whitesmoke;
                padding: 15px 34px 15px 34px;
                width: 43%;
                margin: 0 auto;
                &:hover {
                    background-color: rgba(209, 209, 209, 0.664);
                }
                @media (max-width: $phone) {
                    font-size: 200%;
                    padding: 12px 63px 36px 62px;
                }
                @media (max-width: 500px) {
                    font-size: 200%;
                    padding: 12px 63px 36px 62px;
                    margin-bottom: .999em;
                }
                @media (max-width: 425px) {
                    font-size: 200%;
                    width: 63%;
                    margin-bottom: .999em;
                    padding: 15px 15px 15px 15px;

                }
            }
        };
    };
};