@import "utils/variables";

.signup-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 9em;
    #signup-card {
        // display: flex;
        // justify-content: center;
        // padding: 5%;
        // padding-top: 5%;
        // padding-bottom: 5%;
        // width: 40%;
        // display: flex;
        // justify-content: center;
        // padding: 5%;
        // padding-top: 5%;
        // padding-bottom: 5%;
        // width: 50%;
        // height: auto;
        // margin: 10px auto;
        @media (max-width: $phone) {
            display: flex;
            justify-content: center;
            padding: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            width: auto;
        }
        @media (max-width: 500px) {
            display: flex;
            justify-content: center;
            padding: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            // width: auto;
        }
        #signup-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: auto;
            /* margin: 10px auto; */
            /* background-color: black; */
            color: white;
            padding-top: 17%;
            position: relative;
            /* margin: 20em auto; */
            /* width: 23em; */
            margin-top: auto;
            input {
                background-color: white;
                padding: 1px;
                margin: 0 auto;
                width: 86%;
                &:hover {
                    background-color: rgba(228, 227, 227, 0.808);
                }
            }
            @media (max-width: $phone) {
                display: flex;
                align-items: center;
                justify-content: center;
                /* flex-flow: column wrap; */
                flex-direction: column;
                margin: 11% auto;
            }
            @media (max-width: 500px) {
                display: flex;
                align-items: center;
                justify-content: center;
                /* flex-flow: column wrap; */
                flex-direction: column;
                margin: 11% auto;
            }
            .signup-title {
                color: #2CBF89;
            }
            .signup-label {
                margin-top: 5%;
            }
            #signup-button {
                background-color: whitesmoke;
                padding: 15px 34px 15px 34px;
                width: 43%;
                margin: 0 auto;
                &:hover {
                    background-color: rgba(209, 209, 209, 0.664);
                }
                @media (max-width: $phone) {
                    font-size: 200%;
                    padding: 12px 63px 36px 62px;
                }
                @media (max-width: 500px) {
                    font-size: 200%;
                    padding: 12px 63px 36px 62px;
                    margin-bottom: .999em;
                }
            }
        };
    };
};